.container {
    width: calc(100% - 10px);
    height: 130px;
    border: 20px;
    position: relative;

    display: flex;
    align-items: flex-end;
}

.podcast__cover {
    
    position: absolute;
    top: 0px;
    left: 16px;
    width: 108px;
    height: 84px;
} 

.podcast__cover img {
    object-fit: cover;
    border-radius: 6px;
}

.podcast__content {
    border-radius: 10px;
    background: var(--white-color);
    padding: 16px 20px 16px 130px;
    padding: 16px 20px;
    display: grid;
    grid-template-columns: 118px 1fr;
}

.podcast__content div:first-child {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--purple-color-primary);
    font-weight: 500;
}

.podcast__title {
    color: var(--font-color-primary);
    font-size: 16px;
}

.podcast__description {
    color: var(--font-color-secondary);
    font-size: 14px;
    text-align: justify;
}